.decision-tree-wrapper {
  background-color: white;
  border-style: solid;
  border-width: 10px;
  margin: 150px 150px;
  text-align: center;
  padding: 25px 0px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.19);
  position: relative;
}

.decision-tree-wrapper::before {
  content: "";
  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
  background: linear-gradient(to right, #d860f9 0%, #6656c0 100%);
  border-radius: 20px;
  z-index: -1;
}


.decision-tree-title {
  color: rgb(43, 32, 32);
  text-align: center;
}

.decision-tree {
  color: black;
  padding: 20px 20px;
  text-align: center;
}

.decision-tree-option {
  width: 20%;
  min-width: 200px;
  margin: 50px 10px 10px 50px;
  padding: 10px;
  border-width: 0;
  border-radius: 5px;
  background-color: #b088b6;
  color: #100101;
  cursor: pointer;
  font-size: 18px;
}
