.engaging-box-wrapper {
  background-color: #bda0c3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  border-width: 3px;
  margin: 100px 100px;
  padding: 20px;
  text-align: center;
  justify-content: center;
}
