.event-card-carousel-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 20px;
  grid-gap: 20px;
  justify-items: center;
}

.event-card-carousel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
}

.event-card-carousel-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-card-carousel-button {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: rgb(203, 84, 179);
  --btn-bg-2: rgb(134, 46, 115);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-family: "Segoe UI", system-ui, sans-serif;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(246, 71, 255, 0.5),
    0px 5px 5px -1px rgba(233, 58, 221, 0.25),
    inset 4px 4px 8px rgba(255, 175, 252, 0.5),
    inset -4px -4px 8px rgba(203, 19, 216, 0.35);
}

.event-card-carousel-button:hover {
  background-position: right top;
}

.event-card-carousel-button:is(:focus, :focus-within, :active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  .btn-donate {
    transition: linear;
  }
}

.event-card-carousel-button:disabled {
  background: grey !important;
  cursor: not-allowed;
  box-shadow: none !important;
}

.event-card-carousel-button:disabled:hover {
  background: grey !important;
}
