.event-card-carousel-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 20px;
  grid-gap: 20px;
  justify-items: center;
}

.event-card-carousel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
}

.event-card-carousel-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-card-carousel-button {
  height: 60px;
  width: 120px;
  display: inline-block;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #c29ec7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.event-card-carousel-button:not(:disabled):hover {
  background-color: #3e8e41;
}

.event-card-carousel-button:not(:disabled):active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.event-card-carousel-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}
