.image-recognition-wrapper {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    margin: 30px 300px;
    text-align: center;
    align-items: center;
    padding: 25px 0px;
}

.image-recognition-image-preview {
    width: 30%;
    height: 30%;
    padding: 20px 20px 20px 20px;
    align-items: center;
}
  
.image-recognition-button {
    width: 20%;
    min-width: 200px;
    margin: 20px 10px 0px 10px;
    padding: 10px;
    border-width: 0;
    border-radius: 5px;
    background-color: #c29ec7;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
