.item-type-card-container {
  width: 100%;
  min-width: 200px;
  height: 200px;
  perspective: 1000px;
  cursor: pointer;
}

.item-type-card-container:hover {
  filter: brightness(80%);
}

.item-type-card {
  border-style: solid;
  border-width: 3px;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.item-type-card-flipped {
  transform: rotateY(180deg);
}

.item-type-card-front,
.item-type-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  place-items: center;
  text-align: center;
  backface-visibility: hidden;
}

.item-type-card-front {
  background: #af63bb;
  transform: rotateY(0deg);
}

.item-type-card-back {
  background: #c29ec7;
  transform: rotateY(180deg);
}

.item-type-card-back-title {
  margin: 10px 0px;
}

.item-type-card-button {
  font-weight: bold;
  padding: 5px;
  margin: 10px 0px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.item-type-card-image {
  height: 75px;
}
