.navbar {
  height: 78px;
  background: #642f6c;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.navbar-contents {
  padding: 0px 36px;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 40px;
}

.navbar-title {
  color: white;
  margin-left: 20px;
  font-size: 22px;
  font-weight: bold;
}

.navbar-anchor-box {
  margin-left: 30px;
}

.navbar-anchor {
  font-size: 16px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 20px;
  color: #f9f9f9;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  position: relative;
  margin-left: 10px;
}

.navbar-anchor::before {
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0px;
  top: 40px;
  background: transparent;
}

.navbar-anchor:hover {
  color: white;
  background: #a516cc;
  text-decoration: none;
}

.navbar-anchor:hover::before {
  background: #a516cc;
}
