.question-box {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  justify-items: center;
}

.question-box-answers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  width: fit-content;
}

.answer-button {
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin: 5px 20px;
  cursor: pointer;
  border: 5px solid transparent;
  border-radius: 5px;
  border-style: solid;
}

.answer-button.border-correct {
  border: 5px solid green;
}

.answer-button.border-incorrect {
  border: 5px solid red;
}
