.recycling-service-accordion-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #ffffff;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 100px;
}

.recycling-service-accordion-wrapper:hover {
  filter: brightness(80%);
}

.recycling-service-accordion {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 10px 20px;
  text-align: center;
}

.recycling-service-accordion-item-image {
  height: 100px;
}

.recycling-service-accordion-title {
  color: black;
  padding: 0px 0px 10px 0px;
  font-size: 20px;
}

.recycling-service-accordion-description {
  color: black;
  font-size: 19px;
}

.recycling-service-accordion-content-hidden {
  color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 18px;
}

.recycling-service-accordion-content-displayed {
  color: black;
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.2s ease-in;
  font-size: 18px;
}

.recycling-service-accordion-bin-image {
  height: 100px;
  margin: 10px 0px;
}

.recycling-service-accordion-infographic {
  width: 100%;
  margin: 10px 0px;
}
