.fact-list {
  display: grid;
  border: solid 2px black;
  border-bottom: none;
  border-collapse: collapse;
}

.fact-list-item {
  display: grid;
  grid-template-rows: auto auto;
  border-bottom: solid 2px black;
  padding: 10px;
}
