/*========================================
    PAGE CONTENT
========================================*/

.page-content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/*========================================
    HEADER
========================================*/

.header {
    background-color: #642f6c;
    color: white;
    font-family: Lato;
    text-align: center;
    padding: 30px;
}

.header-title {
    font-size: 40px;
}

.header-description {
    font-size: 15px;
}

/*========================================
    SUBHEADING
========================================*/

.subheading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    background-color: #90449C;
    margin-bottom:50px;
}

.subheading-text {
    font-size: 30px;
    margin: 20px 0;
}

.subheading-separator {
    width: 100%;
    border: 2px solid black;
}

/*======================================
    DECISION TREE
========================================*/
.decision-tree-wrapper {
    background-color: white;
    border-style: solid;
    border-width: 3px;
    margin: 30px 300px;
    text-align: center;
}

.decision-tree-title {
    color: black;
    text-align: center;
}

.decision-tree {
    color: black;
    padding: 20px 20px;;
    text-align: center;
}

.decision-tree-option {
    width: 20%;
    margin: 10px 10px;
    padding: 20px 20px;
    border-width: 1px 1px 1px 1px;
    background-color: #c29ec7;
    cursor: pointer;
}

/*========================================
    ACCORDION GRID
========================================*/
.app{
    display: flex;
}
.p-expand{
    height: 30px;
    overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.accordion-grid-container {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }

  .accordion-grid-item {
    padding: 20px 30px;
    text-align: center;
    height: 100%;
  }

/*========================================
    ACCORDION
========================================*/

.accordion-wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: #fff;
    border-style: solid;
    border-width: 3px;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}
.accordion-wrapper:hover{
    background-color: bisque;
}
.accordion {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 10px 20px;
}

.accordion-title {
    color: black;
    padding: 0px 0px 10px 0px;
    font-size: 19px;
}

.accordion-description {
    color: black;
}

.accordion-content-hidden {
    color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-content-displayed {
    color: black;
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.2s ease-in;
}

.accordion-button {
    width: 100%;
    padding: 5px;
    border-width: 2px 0px 0px 0px;
    background-color: inherit;
    cursor: pointer;
    border-color: black;
    border-width: 2px;
    border-style: solid none none none;
    color: #90449C;
    font-size: 16px;
    font-weight: 600;
}
.accordion-button img{
width: 20px;
}
.accordion-button-active{
/* background-color: #c29ec7; */
color: black;
height: 35px;
    line-height: 35px;
}

.accordion-button:hover {
    filter: brightness(80%);
}

/*========================================
    FOOTER
========================================*/

.footer {
    width: 100%;
    background-color: #642f6c;
    color: grey;
    font-family: Lato;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}