/*========================================
    ALL
========================================*/

* {
  font-family: "Lato";
}

/*========================================
    ALL LINKS
========================================*/

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: purple;
  text-decoration: underline;
}

/*========================================
    PAGE CONTENT
========================================*/

.page-content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/*========================================
    POPUP
========================================*/

.popup-close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: -10px;
  height: 30px;
  width: 30px;
  font-size: 30px;
  border: 2px solid black;
  border-radius: 18px;
}

.popup-close:hover {
  filter: brightness(80%);
}

.popup-content {
  margin: auto;
  background: #af63bb;
  width: 50%;
  min-width: 200px;
  padding: 20px;
  text-align: center;
  border: 4px solid black;
  border-radius: 10px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.75);
}
[data-popup="tooltip"]popup-overlay {
  background: transparent;
}

.popup-button {
  width: 100px;
  height: 50px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
}

.popup-button:hover {
  filter: brightness(80%);
}

/*========================================
    HEADER
========================================*/

.header {
  /* background-color: #cfa4d5; */
  background: linear-gradient(#d860f9, #642f6c);
  color: white;
  font-family: "Lato";
  text-align: center;
  padding: 30px;
  position: relative;
}

.header-top {
  display: flex;
  position: relative;
  align-items: center;
}

.switch-with-labels {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 30px;
}

.switch-wrapper {
  position: relative;
}

.switch {
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: purple;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.header-title {
  margin: auto;
  font-size: 40px;
}

.header-search {
  position: absolute;
  right: 30px;
  font-size: 30px;
}

.header-search:hover {
  color: rgb(31, 154, 241);
}

.header-search-input {
  position: absolute;
  right: 30px;
}

.header-description {
  font-size: 17px;
}

.header-anchors {
  display: flex;
  padding: 15px 100px;
  margin-top: 20px;
  align-items: center;
  position: sticky;
  top: 0px;
  left: 0;
}

.header-dot {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.header-anchors a {
  color: aliceblue;
  flex: 1;
  background-color: #af63bb;
  border-radius: 10px;
  margin: 0 50px;
  padding: 8px;
  font-size: 18px;
}

/*======================================
    ENGAGING BOX
========================================*/

.engaging-box-wrapper {
  background-color: #bda0c3;
  /* border-style: ridge; */
  /* border-color: black; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  border-width: 3px;
  margin: 55px 100px;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

/*======================================
    FACT BOX
========================================*/

.fact-box-content {
  font-size: 18px;
}

/*======================================
    QUESTION BOX
========================================*/

.question-box {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  justify-items: center;
}

.question-box-answers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  width: fit-content;
}

.answer-button {
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin: 5px 20px;
  cursor: pointer;
  border: 5px solid transparent;
  border-radius: 5px;
  border-style: solid;
}

.answer-button.border-correct {
  border: 5px solid green;
}

.answer-button.border-incorrect {
  border: 5px solid red;
}

/*========================================
    SUBHEADING
========================================*/

.subheading-container-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  background-color: #90449c;
  margin-bottom: 45px;
  margin-top: 45px;
}

.subheading-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-items: center;
}

.subheading-anchors {
  display: flex;
  margin: 0 30px;
  font-size: 17px;
}

.subheading-anchors a {
  color: aliceblue;
  flex: 1;
  background-color: #af63bb;
  border-radius: 10px;
  padding: 7px 15px;
}

.subheading-text {
  font-size: 30px;
  margin: 20px 0;
  color: aliceblue;
}

.subheading-separator {
  width: 100%;
  border: 1px solid #999;
}

/*======================================
    DECISION TREE
========================================*/

.decision-tree-wrapper {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  margin: 30px 300px;
  text-align: center;
  padding: 25px 0px;
}

.decision-tree-title {
  color: black;
  text-align: center;
}

.decision-tree {
  color: black;
  padding: 20px 20px;
  text-align: center;
}

.decision-tree-option {
  width: 20%;
  margin: 20px 20px 0px 20px;
  padding: 20px;
  border-width: 0;
  border-radius: 5px;
  background-color: #c29ec7;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

/*========================================
    EVENT CARD CAROUSEL
========================================*/

.event-card-carousel-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 20px;
  grid-gap: 20px;
  justify-items: center;
}

.event-card-carousel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
}

.event-card-carousel-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-card-carousel-button {
  height: 60px;
  width: 120px;
  display: inline-block;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #c29ec7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.event-card-carousel-button:not(:disabled):hover {
  background-color: #3e8e41;
}

.event-card-carousel-button:not(:disabled):active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.event-card-carousel-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

/*========================================
    EVENT CARD
========================================*/

.event-card-container {
  width: 100%;
  height: 300px;
  perspective: 1000px;
  cursor: pointer;
}

.event-card-container:hover {
  filter: brightness(80%);
}

.event-card {
  /* border-style: solid; */
  border-width: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.event-card-flipped {
  transform: rotateY(180deg);
}

.event-card-front,
.event-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  place-items: center;
  text-align: center;
  backface-visibility: hidden;
}

.event-card-front {
  background: #ae69b9;
  transform: rotateY(0deg);
  display: grid;
  grid-template-rows: auto auto;
}

.event-card-image {
  width: 100%;
  max-width: 400px;
}

.event-card-back {
  font-size: 17px;
  background: #c29ec7;
  transform: rotateY(180deg);
  display: grid;
  overflow: auto;
}

/*========================================
    ITEM TYPE CARD GRID
========================================*/

.item-type-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
  grid-gap: 20px;
  justify-items: center;
}

/*========================================
    ITEM TYPE CARD
========================================*/

.item-type-card-container {
  width: 100%;
  min-width: 200px;
  height: 200px;
  perspective: 1000px;
  cursor: pointer;
}

.item-type-card-container:hover {
  filter: brightness(80%);
}

.item-type-card {
  border-style: solid;
  border-width: 3px;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.item-type-card-flipped {
  transform: rotateY(180deg);
}

.item-type-card-front,
.item-type-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  place-items: center;
  text-align: center;
  backface-visibility: hidden;
}

.item-type-card-front {
  background: #af63bb;
  transform: rotateY(0deg);
}

.item-type-card-back {
  background: #c29ec7;
  transform: rotateY(180deg);
}

.item-type-card-back-title {
  margin: 10px 0px;
}

.item-type-card-button {
  font-weight: bold;
  padding: 5px;
  margin: 10px 0px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.item-type-card-image {
  height: 75px;
}

/*========================================
    RECYCLING SERVICE ACCORDION GRID
========================================*/

.recycling-service-accordion-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 40px;
  grid-gap: 20px;
}

.recycling-service-accordion-grid-col {
  display: grid;
  grid-template-rows: min-content min-content min-content min-content min-content min-content;
  grid-gap: 20px;
}

/*========================================
    RECYCLING SERVICE ACCORDION
========================================*/

.recycling-service-accordion-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #af63bb;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  cursor: pointer;
}

.recycling-service-accordion-wrapper:hover {
  filter: brightness(80%);
}

.recycling-service-accordion {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 10px 20px;
  text-align: center;
}

.recycling-service-accordion-title {
  color: black;
  padding: 0px 0px 10px 0px;
  font-size: 20px;
}

.recycling-service-accordion-description {
  color: black;
  font-size: 19px;
}

.recycling-service-accordion-content-hidden {
  color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 18px;
}

.recycling-service-accordion-content-displayed {
  color: black;
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.2s ease-in;
  font-size: 18px;
}

.recycling-service-accordion-infographic {
  width: 100%;
}

.recycling-service-accordion-image {
  height: 100px;
}

/*========================================
    FOOTER
========================================*/

.footer {
  width: 100%;
  background-color: #642f6c;
  color: grey;
  font-family: Lato;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
