/*========================================
    PAGE CONTENT
========================================*/

.page-content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/*========================================
    HEADER
========================================*/

.header {
    background-color: #642f6c;
    color: white;
    font-family: Lato;
    text-align: center;
    padding: 30px;
}

.header-title {
    font-size: 40px;
}

.header-description {
    font-size: 15px;
}

/*========================================
    SUBHEADING
========================================*/

.subheading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    background-color: #90449C;
}

.subheading-text {
    font-size: 30px;
    margin: 20px 0;
}

.subheading-separator {
    width: 100%;
    border: 2px solid black;
}

/*========================================
    ACCORDION GRID
========================================*/

.accordion-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }

  .accordion-grid-item {
    padding: 10px;
    text-align: center;
    height: 100%;
  }

/*========================================
    ACCORDION
========================================*/

.accordion-wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: #AF63BB;
    border-style: solid;
    border-width: 3px;
    height: 100%;
}

.accordion {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 10px 20px;
}

.accordion-title {
    color: black;
    padding: 0px 0px 10px 0px;
}

.accordion-description {
    color: black;
}

.accordion-content-hidden {
    color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-content-displayed {
    color: black;
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.2s ease-in;
}

.accordion-button {
    width: 100%;
    padding: 5px;
    border-width: 2px 0px 0px 0px;
    background-color: inherit;
    cursor: pointer;
    border-color: black;
    border-width: 2px;
    border-style: solid none none none;
}

.accordion-button:hover {
    filter: brightness(80%);
}

/*========================================
    FOOTER
========================================*/

.footer {
    width: 100%;
    background-color: #642f6c;
    color: grey;
    font-family: Lato;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}